<div class="jumbotron text-center report">
    <h1>Report</h1>
</div>

<div class="row" >
<div class="col-sm-1"></div>

<div class="col-sm-10">
    <table id="sortable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Land</th>
            <th>Agriculture crop</th>
            <th>Tractor</th>
            <th>Area</th>
            <th>Date</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Land</th>
            <th>Agriculture crop</th>
            <th>Tractor</th>
            <th>Area</th>
            <th>Date</th>
        </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="let data of reports.report">            
            <td>{{data.id}}</td>
            <td>{{data.land_name}}</td>
            <td>{{data.land_agriculture_crop}}</td>
            <td>{{data.tractor_name}}</td>
            <td>{{data.area}}</td>
            <td>{{data.date}}</td>
        </tr>
        </tbody>  
    </table>
    
    <h1>Total sum: {{reports.sum}}</h1>

</div>

<div class="col-sm-1"></div>

</div>
