<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <form (ngSubmit)="logIn()" [formGroup]="loginForm">
      <!--<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>-->
      <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="login form-control" [(ngModel)]="login.name" name="name" formControlName="name">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="login form-control" [(ngModel)]="login.password" name="password" formControlName="password">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Log In</button>
    </form>

  </div>
  <div class="col-sm-4"></div>

</div>
