<div class="jumbotron text-center lands">
    <h1>Create Land</h1>
    <a routerLink="/lands" class="btn btn-sm btn-info">Back to all lands</a>
</div>
  
<div class="row" *ngIf="land">
    <div class="col-sm-1"></div>
  <div class="col-sm-10">
        
    <form (ngSubmit)="createLand()" [formGroup]="landForm">
      <!--<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>-->
      <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
      
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="land.name" formControlName="name">
      </div>
    
      <div class="form-group">
        <label>Agriculture crop</label>
        <input type="text" class="form-control" name="agriculture_crop" [(ngModel)]="land.agriculture_crop" formControlName="agriculture_crop">
      </div>

      <div class="form-group">
        <label>Area</label>
        <input type="number" class="form-control" name="area" [(ngModel)]="land.area" formControlName="area">
      </div>
    
      <button type="Submit" class="btn btn-success" [disabled]="!landForm.valid">Create Land</button>
      <a (click)=cancelCreate() class="btn btn-primary cancel_button">Cancel</a>
    </form>

  </div>    
  <div class="col-sm-1"></div>
</div>
    