/* You can add global styles to this file, and also import other style files */
/* Forms */
input.ng-invalid {
    border-left: 3px solid red;
}

input.ng-valid {
    border-left: 3px solid green;
}

input.ng-valid.login {
    border-left: 3px solid orange !important;
}
