<div class="jumbotron text-center cultivated-lands">
  <h1>Cultivated Lands</h1>
  <a routerLink="/cultivated-land/create" class="btn btn-sm btn-info">Create Cultivated Lands</a>
</div>

<div class="row" >
    <div class="col-sm-1"></div>
    
    <div class="col-sm-10">
      <table id="sortable" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Tractor</th>
              <th>Land</th>
              <th>Date</th>
              <th>Area</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>#</th>
                <th>Tractor</th>
                <th>Land</th>
                <th>Date</th>
                <th>Area</th>
                <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let c_land of cultivated_lands">            
              <td>{{c_land.id}}</td>
              <td>
                  <ng-container *ngFor="let t of tractors" >
                    <ng-container *ngIf="t.id==c_land.tractor_id">{{t.name}}</ng-container>
                  </ng-container>
              </td>
              <td>
                  <ng-container *ngFor="let l of lands" >
                    <ng-container *ngIf="l.id==c_land.land_id">{{l.name}}</ng-container>
                  </ng-container>
              </td>
              <td>{{c_land.date}}</td>
              <td>{{c_land.area}}</td>
              <td>
                <a [routerLink]="['/cultivated-land', 'edit', c_land.id]">Edit</a>
                <a (click)=deleteCultivatedLand(c_land.id)>Delete</a>
              </td>
            </tr>
          </tbody>  
      </table>
    </div>
  
    <div class="col-sm-1"></div>
  
  </div>
  
  
  <script>
    $(document).ready(function() {
      $('#sortable').DataTable();
    });
  </script>
