<div class="jumbotron text-center cultivated-lands">
    <h1>Edit Cultivated Land #{{cultivated_land.id}}</h1>
    <a routerLink="/cultivated-land" class="btn btn-sm btn-info">Back to all cultivated lands</a>
</div>

<div class="row" *ngIf="cultivated_land">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    
  <form (ngSubmit)="updateCultivatedLand()" [formGroup]="cultivatedLandForm">
    <!--<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>-->
    <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    
    <div class="form-group">
      <label>Tractor</label>
      
      <select [(ngModel)]="cultivated_land.tractor_id" name="tractor_id" class="form-control" formControlName="tractor_id">
        <option *ngFor="let tractor of tractors" [ngValue]="tractor.id">{{tractor.name}}</option>
      </select>
    </div>
  
    <div class="form-group">
      <label>Land</label>
      
      <select [(ngModel)]="cultivated_land.land_id" name="land_id" class="form-control" formControlName="land_id">
        <option *ngFor="let land of lands" [ngValue]="land.id">{{land.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Area</label>
      <input type="number" class="form-control" name="area" [(ngModel)]="cultivated_land.area" formControlName="area">
    </div>
    
    <div class="form-group">
      <label>Date</label>
      <input type="text" class="form-control" name="date" [(ngModel)]="cultivated_land.date" formControlName="date">
    </div>
  
    <button type="Submit" class="btn btn-success" [disabled]="!cultivatedLandForm.valid">Update Cultivated Land</button>
    <a (click)=deleteCultivatedLand(cultivated_land.id) class="btn btn-danger delete_button">Delete</a>
    <a (click)=cancelEdit() class="btn btn-primary cancel_button">Cancel</a>

  </form>
  
</div>    
<div class="col-sm-1"></div>

</div>

<br><br>