div.cultivated-lands {
    background-image: url(https://i.imgur.com/eN9kyUL.jpg);
}

div.cultivated-lands h1 {
    color: white;
}

a.cancel_button {
    right: 13px;
    position: absolute;
}

a.delete_button {
    right: 93px;
    position: absolute;
}
