<div class="jumbotron text-center lands">
  <h1>Lands</h1>
  <a routerLink="/lands/create" class="btn btn-sm btn-info">Create Land</a>
</div>

<div class="row" >
  <div class="col-sm-1"></div>
  
  <div class="col-sm-10">
    <table id="sortable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Agriculture crop</th>
            <th>Area</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Agriculture crop</th>
            <th>Area</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let land of lands">            
            <td>{{land.id}}</td>
            <td>{{land.name}}</td>
            <td>{{land.agriculture_crop}}</td>
            <td>{{land.area}}</td>
            <td>
              <a [routerLink]="['/lands', 'edit', land.id]">Edit</a>
              <a (click)=deleteLand(land.id)>Delete</a>
            </td>
          </tr>
        </tbody>  
    </table>
  </div>

  <div class="col-sm-1"></div>

</div>


<script>
  $(document).ready(function() {
    $('#sortable').DataTable();
  });
</script>