<div class="jumbotron text-center tractors">
  <h1>Tractors</h1>
  <a routerLink="/tractors/create" class="btn btn-sm btn-info">Create Tractor</a>
</div>

<div class="row" >
  <div class="col-sm-1"></div>
  
  <div class="col-sm-10">
    <table id="sortable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let tractor of tractors">            
            <td>{{tractor.id}}</td>
            <td>{{tractor.name}}</td>
            <td>
              <a [routerLink]="['/tractors', 'edit', tractor.id]">Edit</a>
              <a (click)=deleteTractor(tractor.id)>Delete</a>                
            </td>
          </tr>
        </tbody>  
    </table>
  </div>

  <div class="col-sm-1"></div>

</div>

<!--
<script>
  $(document).ready(function() {
    $('#sortable').DataTable();
  });
</script>
-->