<div class="jumbotron text-center tractors">
    <h1>Create Tractor</h1>
    <a routerLink="/tractors" class="btn btn-sm btn-info">Back to all tractors</a>
</div>

<div class="row" *ngIf="tractor">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    
    <form (ngSubmit)="CreateTractor()" [formGroup]="tractorForm">
      
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="tractor.name" name="name" formControlName="name">
      </div>
    
      <!--<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>-->
      <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    
      <button type="submit" class="btn btn-success" [disabled]="!tractorForm.valid">Create Tractor</button>
      <a (click)=cancelCreate() class="btn btn-primary cancel_button">Cancel</a>

    </form>
  
  </div>    
  <div class="col-sm-1"></div>

</div>
