<nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Devision</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/lands']">Lands</a>
                </li>

                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/tractors']">Tractors</a>
                </li>

                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/cultivated-land']">Cultivated land</a>
                </li>
            </ul>
 
            <ul class="nav navbar-nav navbar-right" >
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/report']">Report</a>
                </li>
            </ul>
            
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>



<router-outlet></router-outlet>