div.tractors {
    background: url(https://i.imgur.com/XUx9n5l.png) no-repeat;
}

div.tractors h1 {
    color: white;
}

a.cancel_button {
    right: 13px;
    position: absolute;
}

a.delete_button {
    right: 93px;
    position: absolute;
}
