<div class="jumbotron text-center tractors">
    <h1>Edit Tractor #{{tractor.id}}</h1>
    <a routerLink="/tractors" class="btn btn-sm btn-info">Back to all tractors</a>
</div>

<div class="row" *ngIf="tractor">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    
    <form (ngSubmit)="updateTractor()" [formGroup]="tractorForm">
      
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="tractor.name" formControlName="name">
      </div>
    
      <!--<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>-->
      <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    
      <button type="Submit" class="btn btn-success" [disabled]="!tractorForm.valid">Update Tractor</button>
      <a (click)=deleteTractor(tractor.id) class="btn btn-danger delete_button">Delete</a>
      <a (click)=cancelEdit() class="btn btn-primary cancel_button">Cancel</a>

    </form>
  
  </div>    
  <div class="col-sm-1"></div>

</div>
